cryptography<40
openwrt-luci-rpc
asusrouter
aiohttp
graphene
flask
flask-cors
unifi-sm-api>=0.2.6
tplink-omada-client
wakeonlan
pycryptodome
requests
paho-mqtt
scapy
cron-converter
pytz
json2table
dhcp-leases
pyunifi
speedtest-cli
chardet
python-nmap
dnspython
librouteros
yattag
zeroconf
simplejson
future
six
urllib3
httplib2
gunicorn
freebox-api
mcp
psutil
pydantic>=2.0,<3.0
fritzconnection>=1.15.1
